/* styles/MobileNav.module.css */
.mobileNav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 2px 0 2px 0; /* מרווח גדול יותר בתחתית כדי שלא יסתיר כפתורים */
  z-index: 1000;
  font-size: 12px;
  text-align: center;
}

.mobileNav a {
  color: #444;
  text-decoration: none;
}

.mobileNav a span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.active {
  color: #0070f3;
}
.mobileNav {
  color: black; /* ברירת מחדל */
}

body.dark .mobileNav a {
  color: #fff !important;
}
body.dark .mobileNav a span {
  color: #fff !important;
}
body.dark .mobileNav .active {
  color: #fff !important;
  background: #0070f3 !important;
  border-radius: 8px;
}
body.dark .mobileNav a {
  color: #ddd;
}